header{
     
      height:60vh;
      padding-left: 0%;
      padding-right: 0%;
      background-image: url(shutterstock_348320018.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}
.searchbar{

     height: 50px;
     width: 60%;
     /* background-color: white; */
     /* border: 1px solid black;  */
}
.srbar{

     height: 50px;
     width: 60%;
     background-color: white;
     border: 1px solid black;
}

.mainContent{

    height:600px;
    /* background-color: aqua; */

}

.disp{

    height:600px;
    
    background-color: aqua;
     
}
.item{

    height:200px;
    width:30%;
    /* background-color: blue; */
    border: 4px solid white;
    /* margin:2px; */
    overflow: hidden;
    padding-left:0px;
}
.item >img{
     height:100%;
     width:50%;
     float:left;

}

